.notes-container:hover {
  transform: scale(1.05); /* Increase size on hover */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
}

.notes-container {
  background: #ffffff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.notes-container h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #2893b6;
}
.notes-container p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.notes-container span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 3px 6px; /* Adjust padding for smaller size */
  border-radius: 10%;
  background-color: #ff5e5e;
  font-size: 1.1em; /* Smaller font size */
  width: 18px; /* Adjust width */
  height: 18px; /* Adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
}
