/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

.note-form {
  padding: 10px;
}

.pdf-input {
  display: none;
}

.input-label {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
  width: 25%;
}

.button {
  font-family: "Poppins";
  margin: 30px;
  background-color: green;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  /* smooth transition to the hover */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
  background-color: rgb(175, 175, 175);
}

.button:active {
  background-color: #5c5c5c;
  /* Change color when button is clicked*/
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-logo {
  padding-top: 10px;
  width: 75px;
  height: 75px;
}

.no-pdf-error {
  font-family: "Poppins";
  color: white;
}

.error-container {
  background-color: rgb(255, 84, 84);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.loader-container p {
  color: #4b5563;
}

.loader-container-loader {
  margin-bottom: 50px 0;

}

.processing-note {
  font-size: 0.9em;
  color: #6b7280;
}

.button-group {
  display: flex;
  gap: 20px;
  /* increased from 10px */
  justify-content: flex-start;
  margin: 20px 0;
}

.button-group button {
  padding: 15px 30px;
  /* increased padding */
  min-width: 120px;
  /* set minimum width */
  font-size: 16px;
  /* larger font */
  border-radius: 4px;
  border: 0;
  color: black;
  font-family: "Poppins";
  cursor: pointer;
  background: rgb(42, 180, 42);

}

.button-group button:last-child {
  background: rgb(246, 78, 78);
}