/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

.note-page {
  padding: 20px;
}

.note-page h2 {
  margin-bottom: 10px;
}

.note-page p {
  margin-bottom: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

.mcqs {
  margin-top: 20px;
}

.mcq-container {
  padding: 20px;
  background-color: #f9f9f9;
}
.flashcards-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.separator {
  height: 20px; /* Adjust the height to increase/decrease the spacing */
}

.displayButtons {
  margin-top: 10px;
  border-bottom: none;
  margin-bottom: 0;
}

.displayButton {
  width: 250px;
  font-family: "Poppins";
  font-size: medium;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;
  outline: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: -1px; /* Align with content container */
}

.displayButton:not(:last-child) {
  margin-right: 2px; /* Add space between tabs */
}

.displayButton.active {
  background-color: #f9f9f9;
}
